In [3]:
import pandas as pd

In [70]:
data = []
file = open("test1.in", "r")
lines = file.readlines()

4.0

       0      1      2      3      4    5    6
0  4 4\n  2 1\n  0 2\n  2 0\n  0 1\n  1\n  1 2

In [38]:
nRow = int(lines[0][0])
ncol = int(lines[0][2])

In [74]:
nMix = int(lines[1][0])
nMed = int(lines[1][2])

In [88]:
mixes = []
medicines = []
blockes = []

index = 2
counter = 0
while counter < nMix:
    mixes.append((int(lines[index][0]), int(lines[index][2])))
    index += 1
    counter += 1

counter = 0    
while counter < nMed:
    medicines.append((int(lines[index][0]), int(lines[index][2])))
    index += 1
    counter += 1

nBlock = int(lines[index][0])
index += 1
counter = 0
while counter < nBlock:
    blockes.append((int(lines[index][0]), int(lines[index][2])))
    index += 1
    counter += 1
blockes

[(1, 2)]